html {
    margin: 30px;
}


/* Target multiple headings inside the jumbotron */
.jumbotron h1, .heading-container {
    text-align: center;
}

/* Setting alignment of card titles */
.card-group h4 {
    text-align: center;
}

/* Hiding Card Group */

.card-group {
    display: none;
}

/* Setting height for card images */

.card img {
    height: 200px;
    width: 200px;
}

/* Apply some styles to the Rules line */
.heading-container h3 {
    background-color: lightslategrey;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px;
}

#center-card {
    text-align: center;
}